# Test GraphQL server port
PORT=4000

# SDK OpenTelemetry export settings
GRAPHQL_ANALYTICS_COLLECTOR_URL=http://localhost:4318
GRAPHQL_ANALYTICS_METRICS_INTERVAL=30000
GRAPHQL_ANALYTICS_ENABLED=true

